# absolute paths
abs_path*
directories*

# R data + history
.Rproj.user
.RData
.Rhistory

# bib additional data
*.bib.bak
*.bib.sav

# binary files and figures
*.pdf
*.docx
report

# test files
tryout*
test*
sanity_check*
